langchain
langchainhub
langchain-community
langchain-openai
langchain-groq
langchain_mistralai
faiss-cpu

python-dotenv

requests
beautifulsoup4
transformers
datasets
pypdf

translators

fastapi

redis